body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
}

.section--1 {
  background-color: #343434;
}

.section--2 {
  background-color: #2f3061;
}

.section--3 {
  background-color: #0e34a0;
}

.link {
  color: #fff;
  transition: all .2s linear;
  text-decoration-skip-ink: none;
}

.link:hover {
  text-decoration-color: transparent;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all .2s linear;
}

.modal__dialog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 80vh;
  background-color: #fff;
  border-radius: 8px;
  transition: all .2s linear;
  transform: translateY(-50px);
}

.modal--s .modal__dialog {
  width: 300px;
}

.modal--m .modal__dialog {
  width: 600px;
}

.modal--l .modal__dialog {
  width: 900px;
}

.modal--screen-height .modal__dialog {
  max-height: 80vh;
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--active .modal__dialog {
  transform: translateY(0);
}

.modal--has-scroll .modal__dialog-header,
.modal--has-scroll .modal__dialog-footer {
  position: relative;
  z-index: 5;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.modal__dialog-header {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  transition: all .2s linear;
}

.modal__dialog-header-content {
  flex-grow: 1;
  font-size: 24px;
}

.modal__dialog-header-close {
  display: flex;
  align-items: center;
}

.modal__dialog-header-close-btn {
  margin: 0;
  padding: 0;
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  line-height: 24px;
}

.modal__dialog-body {
  padding: 20px 40px;
  flex-grow: 1;
  overflow: auto;
}

.modal__dialog-footer {
  padding: 20px 40px;
  transition: all .2s linear;
}

.modal__dialog-footer-close-btn {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 28px;
  color: #354664;
  cursor: pointer;
  background-color: #ebedee;
  border: 0;
  border-radius: 4px;
  transition: all .2s linear;
}

.modal__dialog-footer-close-btn:hover {
  opacity: 0.9;
}